.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}




.link {
  stroke: #999;
}


.page {
   display: flex;
   flex-direction: row;
}

#psl_graph {
   flex: 2;
}


.sideBar {
   overflow-y: scroll;
   margin-right: 1em;
   height: 300px;
}


function reset(){

  $('circle').css('opacity', 1.0);


}
